
div{
    padding:0
}
form{
    display: flex;
    margin: 100px;
    flex-direction: column; 
    align-items: center;
}
.form-group{
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.form-group > p{
    font-size: 24px;
}
.form-group> label{
    font-size: 20px;
}
.form-group>input{
    padding: 10;
}
.form-group > button{
    margin: 20px;
    max-width: 150px;
    align-self: center;
}   
.game-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.game-container > div{
    
    display: flex;
    flex-direction: row;
}
.game-container > div :first-child{
    margin-right: 30px;

}
.game-container >div > button{
    margin-left: 300px;
}
.description1{
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    color: rgb(50, 78, 239);
}
.description2{
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    color: rgb(38, 154, 38);
}
h1{
    text-align: center;
    font-weight: 700;
    font-style: italic;
    margin-top: 50px;
}
.board-container{
    display: flex;
    justify-content: center;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 150px);
    grid-template-rows: repeat(5, 150px);
    grid-auto-flow: column;
  }
  .transparent-button{
   border: 0px;
   background-color: transparent;
   width: 150px;
   height: 150px;
  }
.shown {
    width: 150px;
    height: 150px;
    background: url("../../assets/878bfea109d601bf920e0cac1d167571.png");
    border: 1px solid black;
    background-size: cover;
}
.hidden {
  width: 150px;
  height: 150px;
    background-color:rgb(131, 67, 51);
    border: 1px solid black;
    background-size: cover;
}
.smacked {
    width: 149px;
    height: 149px;
    background: url("../../assets/publicdomainq-0036972yds.jpg");
    background-size: cover;
    border: 1px solid black;
}
.finished > p{
    text-align: center;
    font-size: 25px;
    
}
.finished > div > button{
    text-align: center;
    font-size: 25px;
    margin: 10px;
}
.finished {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
