<ng-container *ngIf="isPlaying else Nameinput"> 
    <ng-container *ngIf="!gameover else Finished"> 
        <h1 class="main-h1">Whack-a-mole!!</h1>
        <div class="game-container">
            <div>
                <span class="description1">Time remaining: {{timeLeft}} </span>
                <span class="description2">Points: {{newPlayer.score}}</span>
            </div>
            <div>
                <button type="button" class="btn btn-primary" (click)="startGame()" [disabled]="isStartBtnDisabled">Start Game!</button>
            </div>       
        </div>
        <div class="board-container">
            <div class="wrapper">
                <div *ngFor="let hole of holes ">
                    <div  [ngClass]="stateToClass(hole.moleState)">
                        <button class="transparent-button" (click)="hit(hole)"></button>
                    </div>
                </div>
            </div>
        </div>
     </ng-container> -->
</ng-container>
<ng-template #Finished>
    <div class="finished">
        <h1>Game finished!!</h1>
        <p class="description"> Your Points: {{newPlayer.score}} !!</p>
        <p class="description"> Fastest hit: {{newPlayer.fastestReaction}}ms !!</p>
        <div>

            <button type="button" class="btn btn-outline-success" (click)="playAgain()" >Play again</button>
            <button type="button" class="btn btn-outline-primary" routerLink="leaderboard">Leaderboard</button>  
        </div>
        <div>
            <img src="../../assets/878bfea109d601bf920e0cac1d167571.png"/>
        </div>
    </div>
</ng-template>
<ng-template #Nameinput>
    <h1>Whack-a-mole!!</h1>
    <form (ngSubmit)="onSubmit()" #addPlayerForm="ngForm">
        <div class="form-group">
            <p>Please enter your name before you start game</p>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"class="form-control" 
            [(ngModel)]="newPlayer.name" #username="ngModel" required>
            <button type="submit" class="btn btn-primary" [disabled]="!addPlayerForm.valid">Submit</button>
        </div>
    </form>
</ng-template>
